<h4>
  Covid-19 Daily Update<br>
  <small>Nashville, TN &bull; <%= Time.now.in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y") %></small>
</h4>
<p>
  New Cases: <strong><%= @todays_cases %></strong><br>
  Cases Yesterday: <strong><%= @yesterdays_cases %></strong><br>
  New Deaths: <strong><%= @new_deaths %></strong><br>
  Total Deaths: <strong><%= @total_deaths %></strong><br>
</p>
<br>``
<ul>
  <li>
    <a href="https://covid615.com/counties/davidson#charts">
      View the Latest Charts
    </a>
  </li>
  <li>
    <a href="https://covid615.com/counties/davidson#history">
      See How the Data Is Changing Over Time
    </a>
  </li>
</ul>

<br>
<br>
<hr>
<small>
  <p>
    Thanks for subscribing!
  </p>
  <br>
  <p>
    If you find<a href="https://covid615.com">Covid615</a> useful, please consider hiring me for your next web design or software project.
  </p>
  <br>
  <p>
    You can check out my work at <a href="https://mcalilly.com">mcalilly.com</a>.
  </p>
  <br>
  <p>
    If you'd like to unsubscribe, just reply to this email to let me know and I'll remove you.<br>
  </p>
  <p>
    Best,<br>
    Lee McAlilly<br>
    -<br>
    <a href="https://mcalilly.com">McAlilly Creative</a> &bull; Nashville, TN
  </p>
</small>
