I'm Lee—Founder of McAlilly Creative partners. Covid-19 is a confusing disease. I built and launched this site on ___ date after seeing ___ days of Metro Nashville Covid-19 positive case numbers publicised without context of prior results. I believe viewing each day's covid data in the context of prior reports provides a clearer understanding of how our community is being impacted by the disease.

If you want to unsubscribe from these emails, reply UNSUBSCRIBE in the subject line of your email. I read all the reply emails so put UNSUBSCRIBE five times in the body of the email as well if it makes you feel better. I agree that this is all a lot to take in.

McAlilly Creative Partners is a web and mobile application development company based in Nashville, Tennessee.

Link(Other Work)
Link (Contact me)

<h4>
  Covid-19 Daily Update<br>
  <small>Nashville, TN &bull; <%= Time.now.in_time_zone("Central Time (US & Canada)").strftime("%B %e, %Y") %></small>
</h4>
<p>
  New Cases: <strong><%= @todays_cases %></strong><br>
  Cases Yesterday: <strong><%= @yesterdays_cases %></strong><br>
  New Deaths: <strong><%= @new_deaths %></strong><br>
  Total Deaths: <strong><%= @total_deaths %></strong><br>
</p>
<br>``
<ul>
  <li>
    <a href="https://covid615.com/counties/davidson#charts">
      View the Latest Charts
    </a>
  </li>
  <li>
    <a href="https://covid615.com/counties/davidson#history">
      See How the Data Is Changing Over Time
    </a>
  </li>
</ul>

<br>
<br>
<hr>
<small>
  <p>
    I'm Lee&mdash;Founder of McAlilly Creative Partners (mcalilly.com). Covid-19 is a confusing disease. I built and launched this site on March 26th after seeing 10 days of Metro Nashville Covid-19 positive case numbers publicised without context of prior results. I believe viewing each day's covid data in the context of prior reports provides a clearer understanding of how our community is being impacted by the disease.
  </p>
  <br>
  <p>
    If you want to unsubscribe from these emails, reply UNSUBSCRIBE in the subject line of your email. I read all the reply emails so put UNSUBSCRIBE five times in the body of the email as well if it makes you feel better. I agree that this is all a lot to take in.
  </p>
  <p>
    McAlilly Creative Partners is a web and software development company based in Nashville, Tennessee. Consider hiring us for your next project ; )
  </p>
  <br>
  <ul>
    <li>Work: <a href="https://mcalilly.com">McAlilly.com</a></li>
    <li>Email: <a href="mailto:leemc@hey.com">leemc@hey.com</a></li>
  </ul>
</small>
