<div class="flex flex-col mt-12">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Date
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              New Cases
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Total Cases
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Deaths
            </th>
          </tr>
        </thead>

        <tbody>

          <% @county.updates.each do |update| %>
            <tr class="<%= cycle("bg-white", "bg-gray-50") %>">
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                <%= update.date %>
              </td>

              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                <%= update.cases %>

                <% if update.case_growth_rate.present? && update.case_growth_rate < 0 %>
                  <div class="inline-flex items-baseline ml-2 text-xs leading-5 font-semibold text-red-400">
                    <svg class="flex-shrink-0 self-center h-4 w-4 text-red-300" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">
                      Increased by
                    </span>
                    <%=  number_to_percentage(update.case_growth_rate, precision: 0) %>
                  </div>
                <% elsif update.case_growth_rate.present? && update.case_growth_rate > 0 %>
                  <div class="inline-flex items-baseline ml-2 text-xs leading-5 font-semibold text-green-400">
                    <svg class="flex-shrink-0 self-center h-4 w-4 text-green-300" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">
                      Decreased by
                    </span>
                    <%=  number_to_percentage(update.case_growth_rate, precision: 0) %>
                  </div>
                <% end %>
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                [ tbd ]
              </td>
              <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                <%= update.deaths %>

                <% if update.death_growth_rate.present? && update.death_growth_rate < 0 %>
                  <div class="inline-flex items-baseline ml-2 text-xs leading-5 font-semibold text-red-400">
                    <svg class="flex-shrink-0 self-center h-4 w-4 text-red-300" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">
                      Increased by
                    </span>
                    <%=  number_to_percentage(update.death_growth_rate, precision: 0) %>
                  </div>
                <% elsif update.death_growth_rate.present? && update.death_growth_rate > 0 %>
                  <div class="inline-flex items-baseline ml-2 text-xs leading-5 font-semibold text-green-400">
                    <svg class="flex-shrink-0 self-center h-4 w-4 text-green-300" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="sr-only">
                      Decreased by
                    </span>
                    <%=  number_to_percentage(update.death_growth_rate, precision: 0) %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
