<div class="mx-auto">
  <%= render "intro" %>

  <%= render "today" %>

  <%= render "table" %>

  <div class="notes text-xs text-center text-gray-400 mt-8">
    <p class="text-gray-500 mt-4">
      <em>Last updated on <%= @most_recent_update.updated_at.strftime("%B %e, %Y at %I:%M %p %Z") %></em>
    </p>
    <p class="mt-2">
      <em>Data is pulled from the <a class="underline hover:text-indigo-400" href="https://github.com/CSSEGISandData/COVID-19">John's Hopkins Covid-19 Dashboard</a>.</em>
    </p>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @county.name %>
</p>

<p>
  <strong>Fips:</strong>
  <%= @county.fips %>
</p>

<p>
  <strong>State:</strong>
  <%= @county.state.name %>
</p>
