<section id="subscribe" class="overflow-hidden mx-auto max-w-md font-mono pt-4 pb-6 px-12 mt-8 bg-indigo-50 shadow-sm rounded-lg">

  <p class="text-xs border-solid border-indigo-100 border-b-2 text-center mt-4 pb-4">Data is pulled every morning at 10am CST from <a target="_blank" class="text-indigo-400" href="https://www.asafenashville.org">Metro Nashville's Covid-19</a> response website.</p>

  <% if notice %>
    <div class="my-2 px-4">
      <h4 class="text-lg text-center">
        <%= notice %>
      </h4>
      <p class="text-xs mt-2">
        You're on the list now! Each morning at 10:30am CST we'll send you a brief email with Metro Nashville's Covid-19 numbers for the day.
      </p>
    </div>
  <% else %>
    <h4 class="text-base text-center mt-6">
      Get Daily Updates
    </h4>
    <p class="text-xs mt-2">
      Get a daily email with Nashville's morning Covid-19 numbers when Metro posts them. It's nothing but a simple daily update with the numbers delivered to your inbox.
    </p>

    <%= form_with model: @subscriber, class: "w-full mt-8 mb-4" do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <fieldset class="flex items-center border-b border-b-2 border-indigo-500 py-2">
        <%= f.text_field :email, class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none", placeholder: "elvis@hey.com" %>
        <%= f.submit "Subscribe",  class: "flex-shrink-0 cursor-pointer bg-indigo-500 hover:bg-indigo-700 border-indigo-500 hover:border-indigo-700 text-sm border-4 text-white py-1 px-2 rounded" %>
      </fieldset>
    <% end %>
  <% end %>
</section>
