<p id="notice"><%= notice %></p>

<h1>Updates</h1>
<%= link_to 'New Update', new_update_path %>

<% @updates.each do |update| %>
  <ul class="my-4">
    <li>County ID: <%= update.county_id %></li>
    <li>Date: <%= update.date %></li>
    <li>Cases: <%= update.cases %></li>
    <li>Total Cases: <%= update.total_cases %></li>
    <li>Case Growth Rate: <%=  number_to_percentage(update.case_growth_rate.nil? ? "n/a" : update.case_growth_rate*100, precision: 0) %></li>
    <li>Deaths: <%= update.deaths %></li>
    <li>Total Deaths: <%= update.total_deaths %></li>
    <li>Deaths Growth Rate: <%=  number_to_percentage(update.death_growth_rate.nil? ? "n/a" : update.death_growth_rate*100, precision: 0) %></li>
    <li><%= link_to 'Show', update %></li>
    <li><%= link_to 'Edit', edit_update_path(update) %></li>
    <li><%= link_to 'Destroy', update, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <hr>
<% end %>
