<p id="notice"><%= notice %></p>

<h1>Updates</h1>
<%= link_to 'New Update', new_update_path %>

<% @updates.each do |update| %>
  <ul class="my-4">
    <li>County ID: <%= update.county_id %></li>
    <li>Date: <%= update.date %></li>
    <li>New Cases: <%= update.cases %></li>
    <li>New Cases Growth Rate: <%=  number_to_percentage(update.new_cases_growth_rate.nil? ? "n/a" : update.new_cases_growth_rate*100, precision: 0) %></li>
    <li>Total Cases: <%= update.total_cases %></li>
    <li>Total Cases Growth Rate: <%=  number_to_percentage(update.total_cases_growth_rate.nil? ? "n/a" : update.total_cases_growth_rate*100, precision: 0) %></li>
    <li>Deaths: <%= update.deaths %></li>
    <li>New Deaths Growth Rate: <%= update.new_deaths_growth_rate %></li>
    <li>Total Deaths: <%= update.total_deaths %></li>
    <li>Total Deaths Growth Rate: <%=  number_to_percentage(update.new_deaths_growth_rate.nil? ? "n/a" : update.new_deaths_growth_rate*100, precision: 0) %></li>
    <li>Average Death Rate: <%=  number_to_percentage(update.average_death_rate.nil? ? "n/a" : update.average_death_rate*100, precision: 2) %></li>

    <li><%= link_to 'Show', update %></li>
    <li><%= link_to 'Edit', edit_update_path(update) %></li>
    <li><%= link_to 'Destroy', update, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <hr>
<% end %>
