<p id="notice"><%= notice %></p>

<p>
  <strong>County:</strong>
  <%= @update.county.name %> County, <%= @update.county.state.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @update.date %>
</p>

<p>
  <strong>New Cases:</strong>
  <%= @update.new_cases %>
</p>

<p>
  <strong>New Cases Growth Rate:</strong>
  <%= @update.new_cases_growth_rate %>
</p>

<p>
  <strong>Total Cases:</strong>
  <%= @update.total_cases %>
</p>

<p>
  <strong>Total Cases Growth Rate:</strong>
  <%= @update.total_cases_growth_rate %>
</p>

<p>
  <strong>New Deaths:</strong>
  <%= @update.new_deaths %>
</p>

<p>
  <strong>New Deaths Growth Rate:</strong>
  <%= @update.new_deaths_growth_rate %>
</p>

<p>
  <strong>Total Deaths:</strong>
  <%= @update.total_deaths %>
</p>

<p>
  <strong>Current Average Death Rate:</strong>
  <%= @update.average_death_rate %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>

<hr>

<h4>All NY Times data:</h4>

<%= @raw_data %>
