<p id="notice"><%= notice %></p>

<p>
  <strong>County:</strong>
  <%= @update.county.name %> County, <%= @update.county.state.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @update.date %>
</p>

<p>
  <strong>Cases:</strong>
  <%= @update.cases %>
</p>

<p>
  <strong>Cases Growth Rate:</strong>
  <%= @update.case_growth_rate %>
</p>

<p>
  <strong>Total Cases:</strong>
  <%= @update.total_cases %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @update.deaths %>
</p>

<p>
  <strong>Total Deaths:</strong>
  <%= @update.total_deaths %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
